/*
    TimelineJS - ver. 3.3.9 - 2015-10-26
    Copyright (c) 2012-2015 Northwestern University
    a project of the Northwestern University Knight Lab, originally created by Zach Wise
    https://github.com/NUKnightLab/TimelineJS3
    This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
    If a copy of the MPL was not distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/
.tl-timeline{font-family:'Roboto-Light';font-weight:400;font-size:17px;line-height:1.3em}.tl-timeline h1,.tl-timeline h2,.tl-timeline h3,.tl-timeline h4,.tl-timeline h5,.tl-timeline h6{font-family:'TrajanProBold_0';text-transform:normal;font-weight:800;font-size:42px;line-height:42px}.tl-timeline h2.tl-headline-title{font-size:46px;line-height:46px}.tl-timeline p{font-family:'Roboto-Light';font-size:17px;line-height:1.3em}.tl-timeline ul{font-family:'Roboto-Light'}.tl-timeline .tl-media .tl-media-wikipedia h4 a,.tl-timeline .tl-media h4,.tl-timeline .tl-media h4 a{font-family:'Roboto-Light';font-weight:800;font-size:24px;line-height:24px}.tl-timeline .tl-caption,.tl-timeline .tl-credit{font-family:'Roboto-Light'}.tl-timeline .vcard{font-family:'Roboto-Light' !important;font-weight:normal !important}.tl-timeline .tl-slidenav-next,.tl-timeline .tl-slidenav-previous,.tl-timeline .tl-message,.tl-timeline .tl-timegroup-message{font-family:'Roboto-Light';font-weight:800;text-transform:normal}.tl-timeline .tl-slidenav-next .tl-slidenav-title,.tl-timeline .tl-slidenav-previous .tl-slidenav-title,.tl-timeline .tl-message .tl-slidenav-title,.tl-timeline .tl-timegroup-message .tl-slidenav-title{line-height:1.3em !important}.tl-timeline .tl-headline-date,.tl-timeline h3.tl-headline-date{font-family:'Roboto-Light' !important;font-weight:normal !important;text-transform:normal !important}.tl-timeline .tl-headline-date small,.tl-timeline h3.tl-headline-date small{font-weight:normal !important}.tl-timeline .tl-timenav-slider{font-family:'Roboto-Light';font-weight:800}.tl-timeline .tl-timenav-slider h2.tl-headline{font-family:'TrajanProBold_0';font-weight:800;text-transform:normal}.tl-timeline .tl-timenav-slider .tl-timeaxis{font-family:'Roboto-Light';font-weight:800;text-transform:normal}.tl-timeline .tl-menubar{font-family:'Roboto-Light'}.tl-timeline blockquote,.tl-timeline blockquote p{font-family:'Roboto-Light';font-style:italic;font-weight:400;line-height:1.3}input[type="text"].editor-headline{font-family:'TrajanProBold_0';text-transform:normal;font-weight:800;font-size:42px;line-height:42px}