/**
 * Project archive/single stuff
 *
 * @package wcci
 */

.projects {
	padding: 0;
}

/**
 * Header & form
 */
.projects .header-form-wrap > *,
.projects .header-form-wrap form > * {
	display: inline-block;
	vertical-align: middle;
}

.projects .header-form-wrap {
	padding: 30px;
	font-size: 0;
}

.projects .header-form-wrap header {
	width: 40%;
}

.projects .header-form-wrap h2 {
	font-family: 'TrajanPro-Regular';
	font-size: 36px;
	line-height: 1;
	color: #005293;
	text-transform: uppercase;
}

.projects .header-form-wrap h3,
.projects .header-form-wrap form .white-bttn,
.projects .header-form-wrap select {
	font-family: "Roboto-Light";
	font-size: 18px;
}

.projects .header-form-wrap h3 {
	color: #6a7883;
}

.projects .header-form-wrap form {
	width: 60%;
	text-align: right;
}

.projects .header-form-wrap form > * {
	margin-left: 18px;
}
.projects .header-form-wrap form > *:first-child {
	margin-left: 0;
}

.projects .header-form-wrap select {
	padding: 9px 40px 11px 17px;
	width: 167px;
	background: #439adf url('../images/dropdown-arrow.png') calc( 100% - 14px ) 50% no-repeat;
	color: white;
	border: none;
	border-radius: 4px;
}

.projects .header-form-wrap form .white-bttn {
	padding: 7px 18px;
	border: 1px solid #439adf;
	border-radius: 0;
	color: #439adf;
}

@media only screen and ( max-width: 940px ) {

	.projects .header-form-wrap header,
	.projects .header-form-wrap form {
		width: 100%;
		text-align: center;
	}

	.projects .header-form-wrap form {
		margin-top: 20px;
	}
}

@media only screen and ( max-width: 530px ) {

	.projects .header-form-wrap form > * {
		margin: 10px 0 0;
	}

	.projects .header-form-wrap .field {
		width: 100%;
	}
}


/**
 * Map
 */
.projects-map-wrap {
	position: relative;
	min-height: 760px;
	background: #2a9adc;
}

.projects-map-loader {
	position: absolute;
	z-index: 2;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #2a9add;
	color: #ffffff;
	font-family: "Roboto-Regular";
	font-weight: 700;
	line-height: 760px; /*600px*/
	text-align: center;
	font-size: 18px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.mapsvg-wrap {
	margin: 0 auto;
	overflow: hidden;
	width: 990px !important;
	min-height: 760px !important;
}

.mapsvg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

@media only screen and ( max-width: 850px ) {

	.projects-map-wrap {
		min-height: 300px;
	}

	.projects-map-loader {
		line-height: 300px;
	}

	.mapsvg-wrap {
		min-height: 300px !important;
	}
}


/**
 * Grid
 */
.project-grid {
	font-size: 0;
}

.project-grid a {
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: 20%;
	overflow: hidden;
	background: #005294;
	text-align: center;
	font-size: 18px;
	color: #ffffff;
}

.project-grid a:hover {
	color: #ffffff;
}

.project-grid a:hover img {
	opacity: 0.1;
}

.project-grid a:hover > div {
	opacity: 1;
}

.project-grid a:hover > div > div {
	transform: translateX(-50%) translateY(-50%);
}

.project-grid img,
.project-grid a > div {
	transition: ease-in-out opacity 400ms;
}

.project-grid img {
	width: 100%;
	opacity: 1;
}

.project-grid a > div {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
}

.project-grid a > div > div {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 70%;
	transform: translateX(-50%) translateY(-42.5%);
	transition: ease-in-out transform 300ms;
}

.project-grid a > div > div > * {
	display: block;
	margin: 2px 0;
}

.project-grid h3,
.project-grid .view-project {
	font-family: "Roboto-Medium";
	font-weight: 500;
}

.project-grid p {
	font-family: "Roboto-Thin";
	font-weight: 300;
}

.project-grid .view-project {
	margin-top: 30px;
}

.projects-not-found {
	padding: 50px 30px;
	text-align: center;
	background: #ecf0f3;
}

@media only screen and ( max-width: 1890px ) {

	.project-grid a {
		width: 25%;
	}
}

@media only screen and ( max-width: 1500px ) {

	.project-grid a {
		width: 33.333%;
	}
}

@media only screen and ( max-width: 1100px ) {

	.project-grid a {
		width: 50%;
	}
}

@media only screen and ( max-width: 670px ) {

	.project-grid a {
		width: 100%;
	}
}


/**
 * Single header
 */
.project {
	padding: 0;
	background: #f5f5f5;
}

/* banner */
.project > header {
	position: relative;
	overflow: hidden;
	height: 660px;
	color: #ffffff;
}

.project > header::before {
	content: '';
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient( 0deg, #005293, transparent 80% );
}

.project > header > div {
	position: absolute;
	z-index: 2;
	bottom: 41px;
	left: 0;
	right: 0;
}

.project > header h1,
.project > header h2 {
	line-height: 1.33;
}

.project > header h1 {
	font-family: 'TrajanPro-Regular';
	font-size: 48px;
	text-transform: uppercase;
	font-weight: 400;
	max-width: 750px;
}

.project > header h2 {
	font-family: "Roboto-Thin";
	font-weight: 300;
	font-size: 36px;
}

.project > header .white-bttn {
	margin-top: 22px;
	padding: 4px 13px;
	border: 1px solid #439adf;
	border-radius: 0;
	color: #439adf;
	font-size: 18px;
	font-family: "Roboto-Medium";
}

.project > header [href="#gallery"] {
	display: none;
}

.project > header .white-bttn:hover {
	color: #ffffff;
}

.project > header img {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: auto;
	height: auto;
	min-width: 100.5%;
	min-height: 100.5%;
}


/**
 * Single layout
 */
.project .entry-content,
.project .container > aside {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin-top: 32px;
	margin-bottom: 80px;
	background: #ffffff;
}

.project > .container h2 {
	margin-bottom: 20px;
	font-family: 'TrajanPro-Regular';
	font-size: 36px;
	font-weight: 400;
	color: #005293;
}

.project .entry-content,
.project dd {
	font-family: "Roboto-Light";
	font-weight: 300;
	color: #6a7883;
}

.project .entry-content {
	float: right;
	width: 65.517%;
	padding: 55px 50px;
}

.project .entry-content h3,
.project .entry-content h4,
.project .entry-content h5 {
	margin: 10px 0 20px;
}

.project .entry-content h3 {
	font-family: "Roboto-Thin";
	font-weight: 300;
	font-size: 24px;
	line-height: 1.4;
	color: #323c43;
}

.project .entry-content b,
.project .entry-content strong {
	font-family: "Roboto-Medium";
	font-weight: 700;
}

.project .container > aside {
	float: left;
	width: 32.068%;
	padding: 55px 60px;
}

.project dt {
	margin-top: 26px;
	color: #323c43;
	font-family: "Roboto-Black";
	font-weight: 600;
}
.project dt:first-child {
	margin-top: 45px;
}

.project dd {
	margin-top: 4px;
}

.project .container > aside img {
	display: block;
	width: 100%;
	height: auto;
}

.project ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.project .gallery ul {
	margin: 22px -50px -45px;
}

.project .gallery ul li {
	margin-top: 10px;
}

.project .gallery ul a {
	display: block;
	position: relative;
}

.project .gallery ul a::before,
.project .gallery ul a > span {
	position: absolute;
	opacity: 0;
	transition: ease-in-out 300ms;
	transition-property: opacity, transform;
}

.project .gallery ul a:hover > span {
	transform: translateX(-50%) translateY(-50%);
}

.project .gallery ul a:hover::before,
.project .gallery ul a:hover > span {
	opacity: 1;
}

.project .gallery ul a::before {
	content: '';
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba( 0, 82, 147, 0.7 );
}

.project .gallery ul a > span {
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-40%);
	color: #ffffff;
}

@media only screen and ( max-width: 1200px ) {

	.project > header .container {
		padding-left: 40px;
		padding-right: 40px;
	}

	.project .entry-content {
		width: 60%;
	}

	.project .container > aside {
		width: 37%;
	}
}

@media only screen and ( max-width: 860px ) {

	.project .entry-content,
	.project .container > aside {
		margin-bottom: 30px;
		float: none;
		width: 100%;
	}
}

@media only screen and ( max-width: 640px ) {

	.project > header {
		height: 450px;
	}

	.project > header .container {
		padding-left: 20px;
		padding-right: 20px;
	}

	.project > header h1 {
		font-size: 28px;
	}

	.project > header h2 {
		font-size: 22px;
	}
}

@media only screen and ( max-width: 480px ) {

	.project {
		background: #ffffff;
	}

	.project > header .white-bttn {
		display: none;
	}

	.project > header [href="#gallery"] {
		display: inline-block;
	}

	.project .entry-content,
	.project .container > aside {
		padding: 20px;
	}

	.project .gallery ul {
		margin: 22px -20px -30px;
	}

	.project .gallery ul a:hover::before,
	.project .gallery ul a:hover > span,
	.project .gallery ul a:focus::before,
	.project .gallery ul a:focus > span {
		opacity: 0;
		cursor: default;
	}
}