html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, tt, var, b, i, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, audio, canvas, details, figcaption, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, summary, time, video{border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; margin:0; padding:0;}
*{outline:none;}
body{text-size-adjust:100%; -webkit-text-size-adjust:100%;}
article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote{display:block;}
header ul, .header ul, #header ul, footer ul, .footer ul, #footer ul, nav ul{margin: 0; padding: 0; list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after, q:before, q:after{content:none;}
ins{text-decoration:underline;}
del{text-decoration:line-through;}
mark{background:none;}
abbr[title], dfn[title]{border-bottom:1px dotted #000;}
table{border-collapse:collapse; border-spacing:0;}
hr{display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0;}
input, button, textarea, select{margin:0; padding:0; appearance: none; -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none;}
input, select, a img{vertical-align:middle;}