/* Responsive  */
@media only screen and (max-width:2150px){
	.maingallery ul li{width:25%}
}
@media only screen and (max-width:1700px){
	.maingallery ul li{width:33.33%}
}
@media only screen and (max-width:1500px){
	.banner-inner{background-size: cover;}
	.how_can_help_inner h3{font-size:32px;}
	.maingallery ul li{width:33.33%}
	.filter-content{height:353px;}
}
@media only screen and (max-width:1280px){
	.filter-content p {display: none;}
}
@media only screen and (max-width:1240px){
	.banner-inner{height: 593px;}
}
@media only screen and (max-width:1200px){
	.container{padding: 0 10px;}
	.construction .one-half { margin: 0 64px 80px 0;}
	.services_content_row{padding:0 175px;}
	.services_content_row { background-position: 56px center !important;}
	.services_content_row.right { background-position: 93% center !important;}
	.services_content, .why-wcci{padding:75px 0;}
	.services-banner {padding:130px 0 75px;}
	.workfor{padding-top:75px;}
	.client-sec{margin-top:60px;}
	.services_content_row{margin-bottom:75px;}
	.why-wcci .reasons{margin-top:45px;}
	.filter-content { height: 280px;}
	.our-team .one-fourth:hover .team-detail {padding-top: 40px;}
	.our-team .one-fourth h5 {margin-bottom: 10px;}
}

@media only screen and (max-width:1190px){
	.team-detail {top: 87%;}
	.our-team .one-fourth:hover .team-detail {padding-top: 40px;}
}

@media only screen and (max-width:1160px){
	.one-third{width: 33%;}
	.one-third  p {font-size: 16px;}
	.banner-inner{height: 400px; }
	.banner-inner h1 {font-size: 32px; padding: 69px 0 0;}
	.banner-inner h2 {font-size: 30px;}
	footer#footer .col{width: 20%;}
	footer#footer .col.last {padding: 0 13px 0 0;}
	.construction .one-half {width: 43%;}
	.team-pic > img {width: 100%;}
	.slick-slider .slick-next {right: -25px;}
	.slick-slider .slick-prev {left: -25px;}
}

@media only screen and (max-width:1060px){
	.navigation ul li{margin: 0 10px;}
	.experiance h2{font-size: 40px;}
	.experiance h3{font-size: 28px; padding-bottom: 16px;}
	.one-half{width: 49%;}
	.experiance{padding: 110px 0 94px;}
	.clients-section{padding: 77px 0 120px;}
	.how_can_help {height: 265px;}
	.how_can_help_inner h3{font-size: 29px;}
	footer#footer .col h3{font-size: 16px;}
	.bottom-section .col{min-height: 200px; max-height: 200px;}
	.bottom-section .col img { height: auto;}
	.construction h2 { font-size: 35px;}
	.construction p {font-size: 30px; margin:0 0 58px;}
	.construction { padding: 86px 0 30px;}
	.construction .one-half {margin: 0 64px 60px 0;}
	.our-team .one-fourth {margin: 0 2px 11px 6px;}
	.our-team .one-fourth { width: 23.5%;}
	.about-timeline img{width: 100%;}
}

@media only screen and (max-width:1023px){
	.about-nav-container,
	.services-nav-container {
		display: none;
	}
}

@media only screen and (max-width:980px){
	.navigation ul li a{font-size: 16px; padding: 10px;}
	.banner-inner{height: 300px; }
	.one-third h3{font-size: 18px;}
	.one-third{padding: 0 11px 22px; }
	.one-third p{font-size: 14px;}

	.how_can_help_inner h3 { font-size: 22px;}
	.white-bttn.small { font-size: 14px; padding: 8px 18px;}
	.clients-section h2{font-size: 26px;}
	footer#footer .col { width: 22%;}
	footer#footer .col h3{font-size: 14px;}
	footer#footer .col ul li a{font-size: 13px;}
	.col.last p { font-size: 13px;}
	footer#footer{padding: 40px 0 28px;}
	.bottom-section .col { max-height: 180px; min-height: 180px;}
	.one-half .text p { line-height: 22px;}
	.construction .one-half { width: 45%;  margin: 0 37px 80px 0;}
	.construction .one-half h3 {font-size: 18px;}
	.construction .one-half p {font-size: 16px;}
	.our-team .one-fourth { width: 23.4%;}
	.why-wcci .reasons ul li .rea-left{width:30%;}
	.why-wcci .reasons ul li .rea-right{width:70%;}
	
    .team-detail {top: 89%;padding: 9px 4% 0px;}
    .our-team .one-fourth h5 {font-size: 15px;margin-bottom: 0;}
    .our-team .one-fourth span {font-size: 15px;margin-bottom: 20px;}
    .our-team .one-fourth:hover .team-detail {padding-top: 40px;}
    .team-detail p {margin: 12px 0 22px;display: none;}
}

@media only screen and (max-width:900px){
	.filter-content{height:209px;}
	.navigation {padding-right: 20px;}
	.maingallery ul li{width:50%;}
	#contact-form {float: none;margin: 0 auto 50px;width:100%;max-width: 407px;}
	#contact-us {float: none;margin: 0 auto;width:100%;max-width: 407px;}
	.apply-today .blue-bttn{margin-top:17px;}
	.services_content_row h4 {padding-top: 20px;}
	.services-row-nav .blue-bttn {font-size: 12px;}
}

@media only screen and (max-width:767px){
	.navigation ul{display: none;margin-top: 5px;}
	.navigation li{float: none; position: relative;}
	.wrapper{width: 94%;}
	.jquery-list{width: 100%;}
	.header img{max-width: 90%;}
	.navigation li:hover ul, .navigation li:hover li:hover ul{display: none;}
	.navigation ul ul, .navigation ul ul ul{position: relative; left: 0}
	.navigation ul ul{width: 100%; background: #444;}
	.navigation ul li { background-color: #439adf ; border-bottom: 1px solid #fff; margin: 0;  width: 100%;}
	.navigation ul li a{display: block; color: #fff !important; padding: 15px 0px; text-align: center;}
	.navigation ul li a .active{ color: #fff;}
	.one-third h3 { font-size: 16px;}
	.one-third p { font-size: 13px;}
	.one-half h4{font-size: 21px;}
	.one-half .text p{font-size: 13px;}
	footer#footer .col { margin: 0 0 23px 12px; width: 45%;}
	footer#footer .col.last {float: left; text-align: left;}
	.navigation {width: 100%; padding: 1px 0;}
	.social { float: right; margin-top: 17px;}
	.logo{margin-top: -40px;}
	#main {padding-top: 151px;}
	.history h1 {font-size: 38px;}
	.history p { line-height: 40px;}
	.construction h2 {font-size: 30px; line-height: 28px;}
	.construction p { font-size: 22px;}
	.construction .one-half {width: 44%; margin: 0 3% 80px 3%;}  
	.construction .one-half h3 { font-size: 16px;}
	.our-team .one-fourth { width: 31.2%;}
	.our-team .one-fourth:hover .team-detail { padding: 131px 4% 100px;width: 92%;}
	.our-team h4 {font-size: 39px; line-height: 38px;}
	.our-team p { font-size: 20px; margin: 1px 0 41px;}
	.team-detail p { font-size: 14px; margin: 11px 0 21px;}
	.apply-today br{display:block;}
	.apply-today{line-height: 50px;}
	h1.common-heading{font-size: 38px;}
	.contactsection h2{font-size: 30px;}
	.services_content_row{background: none !important; padding:0; margin-bottom:70px;}
	.services_content_row h4{font-size:28px;}
	.services_content_row label{font-size:20px;}
	.services_content_row.right{text-align: center;}
	.why-wcci .reasons{padding:0;}
	.why-wcci .reasons ul{width:100%; padding-right:0;}
	.why-wcci .reasons ul li .rea-left{width:20%;}
	.why-wcci .reasons ul li .rea-right{width:78%;}
	.navigation {width: 102.5%;padding: 1px 0px; max-width: 110%; margin: 0px -1.2%;left: 0;}
	.navigation ul li:first-child { border: 0; border-bottom:  1px solid #fff;}
	.bottom-section .col {max-height: none; min-height: auto;}
	.bottom-section .col .img-container {display: none;}
	.bottom-section .col.big.mobile-display {width: 100%;}
	.how_can_help {position: relative;}
	.how_can_help_inner {padding: 87px 0;}
}


@media only screen and (max-width:639px){
	.one-third-outer .container{padding:0;}
	.one-third-outer .one-third:after{background: url(../images/mob-bg.png) no-repeat center top; content: ''; width:84px; height:42px; position: absolute; top:-38px; left:50%; margin-left:-42px;}
	.one-third { width: 100%; border-right: 0px; margin: 0 0 50px; padding: 0 0 22px; position: relative; border-top: 1px solid #efefef !important;}
	.one-third-outer .one-third:first-child:after{display:none;}
	.one-third-outer .one-third:last-child{margin-bottom:15px;}
	.banner-inner { background-position: center center!important;}
	.banner-inner h1 {font-size: 21px;}
	.banner-inner h2 {font-size: 28px; line-height: 20px;}
	.experiance h3 {font-size: 31px; margin: 19px 0 7px;  padding-bottom: 7px; padding-top: 0;}
	.experiance h3 {font-size: 36px; padding-bottom: 7px; padding-top:0px;}
	.experiance .one-half {width: 92%; margin-bottom:20px;}
	.one-half.swap2 .text.right-text{text-align: center;}
	.clients-section h2 { font-size: 25px; line-height: 35px; padding: 65px 10px 0;}
	.clients-section ul { float: none; margin: 33px auto 0; width: 94%;}
	.bottom-section .col {display: none;}
	.bottom-section .col img { height: auto; display: block;}
	.bottom-section .col:nth-child(2) { overflow: hidden;}
	.bottom-section .col.big { width: 100%;}
	.bottom-section .col.big.mobile-display {display: block; height: auto; min-height: 290px; width: 100%!important;}
	footer#footer .col { float: none;  margin: 0 auto 15px; text-align: center; width: 90%;}
	footer#footer .col.last { float: none; text-align: center;}
	footer#footer .col h3 { font-size: 18px;}
	footer#footer .col ul li a { font-size: 14px;}
	footer#footer .col ul li { line-height: 30px;}
	.col.last p {font-size: 15px; line-height: 32px;}
	.copyright { margin-top: 16px; padding: 17px 0 0; width: 100%;}
	.contact-number { float: right; font-size: 18px; width: 180px; margin-left: 0px; padding: 0 3px 0 0; text-align: right;}
	.search-bar { margin: 7px 0 0;}
	.top-bar-inner { float: right; width: 271px;}
	.logo{margin-top: 0px;}
	.menu-icon {right: 40px; top: 60px;}
	.white-bttn { font-size: 24px; padding: 10px 35px;}
	.top-bar{display: none;}
	.social{display: none;}
	#main {padding-top: 90px;}
	.banner-inner h1 {font-size: 36px; line-height: 39px; margin: 0 0 14px;}
	.experiance { padding: 46px 0 94px; background: #005498 url("../images/expertise-bg.jpg") repeat-x scroll 0 0;}
	.experiance .one-half .left-icon { margin: 0; padding: 6px 0;  width: 100%;}
	.experiance .one-half .text { text-align: center; width: 100%;}
	.experiance .one-half h4 {font-size: 24px;}
	.experiance .one-half .text p { font-size: 18px; line-height: 30px;  margin: 0; padding: 0 10px;}
	.swap2.one-half .text {padding-right: 0;}
	.bottom-section .col img { display: none;}
	.how_can_help {height: 290px;  margin-top: 0;  position: relative; text-align: center;  top: 0; width: 100%;}
	.one-third h3 {font-size: 24px; margin: 0 0 7px;}
	.one-third p {font-size: 18px; padding: 0 15px;}
	.white-bttn.small { font-size: 20px; padding: 10px 20px;}
	.clients-section { padding: 56px 0 22px;}
	.banner-inner { background-position: center center;}
	.clients-section ul li { margin: 11px 10px;}
	footer#footer .col ul li { line-height: 18px;}
	.history h1 { font-size: 28px; line-height: 48px;}
	.history p { line-height: 20px; font-size:22px;}
	.history h1 { font-size: 32px; line-height: 48px;}
	.history p { line-height: 20px; font-size:22px;}
	.construction .one-half {margin: 0 0 44px;width: 100%;}
	.construction .one-half h3{line-height: 22px;}
	.construction .one-half p {font-size: 15px; line-height: 22px;}
	.history {padding: 60px 0 90px;}
	.construction h2 { font-size: 24px; line-height: 22px;}
	.construction p {font-size: 19px; line-height: 48px;}
	.our-team {clear: both; padding: 42px 0 16px;}
	.our-team .one-fourth:hover .team-detail {padding: 51px 4% 100px;}
	.our-team .one-fourth h5 {font-size: 12px;}
	.team-detail {top: 87%;}
	.maingallery ul li{width:50%;}
	.filter-content{height:223px;}
	.navigation ul li { border-bottom: 1px solid #fff !important; }
	header.header{
		position: fixed;
		background: #fff;
		top: 0px;
		z-index:999999999;
		height: 88px;
	}
	section.banner, .contactsection, .services-banner, .history{
		margin-top: 88px;
	}
}

@media only screen and (max-width:550px){
	.maingallery ul li{width:100%}
}

@media only screen and (max-width:520px){
	.banner-inner {height: 340px; background-size: cover !important; background-position: center center !important;}
	.our-team .one-fourth {width: 47%;}
	.team-detail {top: 89%;}
	h2.common-subheading{line-height: 33px; font-size:28px;}
	.services-banner{background-size:auto 100%; }
	.services-banner, .services_content, .why-wcci{padding:60px 0;}
	.workfor{padding-top:35px;}
	.client-sec{margin-top:30px;}
	.client-sec ul li{font-size:17px; line-height: 30px;}
	.client-sec a{margin-bottom:20px;}
	.why-wcci .reasons{margin-top:35px;}
	.why-wcci .reasons ul li .rea-right h4{font-size:20px;}
	.filter-content{height:180px;}
	.workfor{background: url("../images/who_we_work_for.jpg") no-repeat scroll 30% 0 / cover !important}
}

@media only screen and (max-width:480px){	
	.how_can_help{margin-top: 0; height:235px;}
	.search-bar input[type="text"]{width: 136px;}
	.logo { margin-top: 0; width: 60px; padding: 10px 8px 0px;}
	.menu-icon {top:25px; right:25px;}
	.navigation { padding: 0;}
	.navigation ul {margin-top:34px;}
	#main {padding-top: 0;}
	/*.apply-today .textwidget{line-height: 30px;}*/
	.blue-bttn{margin-top:17px;}
	.services-row-nav {margin-bottom: 2px;}
	.services-row-nav .blue-bttn{margin: 0 0 3px 0;}
	.clients-section h2 { font-size: 20px; line-height: 28px;}
	.bottom-section .col.big.mobile-display {min-height: 235px;}
	.experiance h2 { font-size: 20px;}
	.experiance h3 {font-size: 18px; line-height: 25px;  padding-bottom: 4px; padding-top: 2px;}
	.experiance p { font-size: 15px; line-height: 23px;}
	.one-third{border-top: 1px solid #ccc;}
	.experiance h3 {font-size: 34px; line-height: 1.25em;}
	.experiance {  padding: 46px 0 38px;}
	.expriance-inner a.white-bttn { margin-top: 10px;}
	.clients-section { padding: 45px 0 43px;}
	.clients-section h2 { padding: 47px 10px 0;}
	.history h1 {font-size: 24px;line-height: 38px;}
	.history p {font-size: 20px;line-height: 33px;}
	.our-team .one-fourth {display: inherit;margin: 0 auto 23px; width: 250px;}
	.team-detail {top: 77px;}
	.our-team .one-fourth span {min-height: 40px;}
	.our-team p {display: block;}
	.construction h2 {font-size: 25px; line-height: 35px;}
	.apply-today{font-size:20px; padding:20px 0;}
	.apply-today .blue-bttn{margin-left:0;}
	.contactsection{padding:35px 0 54px;}
	#contact-form {margin-bottom: 15px;}
	.contact-form{margin-top:20px; width:100%}
	.contactsection h2{font-size:27px;  line-height: 34px;}
	.contact-form input[type="text"]{font-size:17px; min-height: 45px;}
	.contact-form input[type="email"]{font-size:17px; min-height: 45px;}
	.contact-form textarea{font-size:17px;}
	.contact-form input[type="submit"]{height:60px; line-height: 60px; font-size:17px;}
	h1.common-heading {font-size: 24px;line-height: 38px;}
	h2.common-subheading {line-height: 33px;font-size: 20px;}
	.contactsection h2{font-size:20px;}
	.filter-content { height: 340px;}
	.team-detail {top: 75%;}
	.page_content article img { width: 100%;}
	.navigation { margin-left: -10px; margin-right: -10px; float: none; display: inline-block; width: 320px; width: 105%; max-width: 480px;}
	#cd-timeline{margin:35px 0 !important;}
	#overlay, #lightbox{display: none !important; /* Mobile fix for projects page */}
	div.wpcf7-mail-sent-ok, div.wpcf7-validation-errors {width: 96%;padding: 2%;}
}

@media only screen and (max-width:360px){
	.banner-inner h1 { font-size: 30px; line-height: 37px;}
	.banner-inner h2 { font-size: 24px; line-height: 15px;}
	.top-bar-inner { float: none; margin: 0 auto; width: 233px;}
	.contact-number { text-align: center; width: 100%;}
	.social { margin-top: 28px;}
	.experiance h3 {font-size: 24px; line-height: 1.25em;}
	.how_can_help_inner h3 {font-size: 38px; line-height: 42px; padding-bottom:10px;}
	.experiance h2 { font-size: 30px; line-height: 39px;}
	.experiance p {font-size: 14px; line-height: 28px;}
	.one-half .text p {font-size: 14px; line-height: 27px; margin: 0; padding: 0 19px;}
	.copyright { float: none;  margin: 16px auto 0; padding: 17px 0 0;  width: 191px;}
	.history h1 {font-size: 22px;}
	.history p {font-size: 17px;}
	.our-team h4 { font-size: 30px;}
	.our-team p {font-size: 18px; line-height: 44px;}
	.team-detail p { font-size: 14px; line-height: 20px}
	.filter-content { height: 265px;}
	.banner-inner { background-attachment: fixed !important;}
	.one-third-outer .one-third p {  padding: 0px 40px;}
	.one-third-outer .one-third p br { display: none;}
	.experiance h2 { text-transform: uppercase;}
	.experiance .one-half { max-width: 100%;}
	.experiance p {line-height: 25px;}
	.experiance .one-half .text p { margin: 0px; padding: 0px 14%; font-size: 13.45px; line-height: 24px;}
	.clients-section h2 {font-size: 25px;}
	.clients-section ul { margin: 25px auto 0px;}
	.col.last p { font-size: 14px; line-height: normal;}
	.navigation { margin-left: -10px; margin-right: -10px; float: none; display: inline-block; width: 320px; width: 106%;}
	.construction p { line-height: 30px; margin-bottom: 25px; padding-top: 10px;}
	.maingallery ul li:first-child{width:100%!important;}
	.tl-skinny .tl-text h2.tl-headline {font-size: 28px !important;} 
}
@media only screen and (max-width:330px){
	.filter-content { height: 229px;}
	.navigation {width: 106.5%;}
	.bottom-section .col.big.mobile-display {min-height: 235px;}
	.maingallery ul li:first-child{width:100%!important;}
}

@media only screen and (max-width: 250px){
	.maingallery ul li:first-child{width:100%!important;}
}