/*== Font Face CSS
========================*/
@font-face {
    font-family: 'FranklinGothic-Book';
    src: url('../fonts/FranklinGothic-Book.eot');
    src: url('../fonts/FranklinGothic-Book.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FranklinGothic-Book.woff2') format('woff2'),
         url('../fonts/FranklinGothic-Book.woff') format('woff'),
         url('../fonts/FranklinGothic-Book.ttf') format('truetype'),
         url('../fonts/FranklinGothic-Book.svg#FranklinGothic-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular-webfont.eot');
    src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Regular-webfont.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium-webfont.eot');
    src: url('../fonts/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Medium-webfont.woff') format('woff'),
         url('../fonts/Roboto-Medium-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Medium-webfont.svg#Roboto-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light-webfont.eot');
    src: url('../fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Light-webfont.woff') format('woff'),
         url('../fonts/Roboto-Light-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Light-webfont.svg#Roboto-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TrajanPro-Regular';
    src: url('../fonts/TrajanPro-Regular.eot');
    src: url('../fonts/TrajanPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TrajanPro-Regular.woff2') format('woff2'),
         url('../fonts/TrajanPro-Regular.woff') format('woff'),
         url('../fonts/TrajanPro-Regular.ttf') format('truetype'),
         url('../fonts/TrajanPro-Regular.svg#TrajanPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Thin';
    src: url('../fonts/Roboto-Thin-webfont.eot');
    src: url('../fonts/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Thin-webfont.woff') format('woff'),
         url('../fonts/Roboto-Thin-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Thin-webfont.svg#Roboto-Thin') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TrajanProBold_0';
    src: url('../fonts/TrajanProBold_0.eot');
    src: url('../fonts/TrajanProBold_0.eot') format('embedded-opentype'),
         url('../fonts/TrajanProBold_0.woff2') format('woff2'),
         url('../fonts/TrajanProBold_0.woff') format('woff'),
         url('../fonts/TrajanProBold_0.ttf') format('truetype'),
         url('../fonts/TrajanProBold_0.svg#TrajanProBold_0') format('svg');
}
@font-face {
    font-family: 'Roboto-LightItalic';
    src: url('../fonts/Roboto-LightItalic-webfont.eot');
    src: url('../fonts/Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-LightItalic-webfont.woff') format('woff'),
         url('../fonts/Roboto-LightItalic-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-LightItalic-webfont.svg#Roboto-LightItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Black';
    src: url('../fonts/Roboto-Black-webfont.eot');
    src: url('../fonts/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Black-webfont.woff') format('woff'),
         url('../fonts/Roboto-Black-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Black-webfont.svg#Roboto-Black') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*== Global CSS
========================*/
body{font-family: 'Roboto-Light'; font-size:16px; line-height: 24px;}
.container{max-width:1170px; margin:0 auto;}
.clear{clear:both;}
.row{float:left; width:100%;}
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}


select::-ms-expand {
    display: none;
}


/*== Header Section
========================*/

.row.header {position: fixed;z-index: 999;}

/*== Top Bar Section ==*/
.top-bar{background-image: url(../images/top-bg.png); background-repeat: repeat; padding: 15px 0 13px;}
.contact-number {color: #fff; font-size: 21px; margin-left: 155px; float: left; line-height: 21px;}
.contact-number a {position: relative; top: 4px; text-decoration: none;}
.contact-number span.number {color: #ffffff; font-family: "Roboto-Thin", "Segoe UI", Segoe, Tahoma, Geneva, sans-serif; font-size: 18px; position: relative; bottom: 4px;}
.contact-number a:hover span.number {font-family: 'Roboto-Regular';}
.contact-number span.fa-phone {color: #439adf; font-size: 26px; margin: 0 5px 0 0; position: relative; top: 4px;}
.contact-number a:hover span.fa-phone {color: #ffffff;}

/*== Search Bar Section ==*/

.search-bar{float: right;}
.search-bar input[type='text']{border: medium none; border-radius: 2px; font-family: "Roboto-Regular"; padding: 3px 6px; width: 160px; font-size:12px; color:#b5c1cb; margin-right:3px;}
.search-bar input[type='search']{border: medium none; border-radius: 2px; font-family: "Roboto-Regular";   padding: 4px 6px 3px 6px;
 width: 161px; font-size:12px; color:#b5c1cb; margin-right:3px;}
.search-bar input[type='submit']{background: #439adf; border: 0 none; font-size: 14px; height: 24px; width: 70px; font-family: 'Roboto-Medium'; cursor:pointer; border-radius:2px; color:#37424a;}
.search-bar input[type='submit']:hover{background: #fff;} 
button.search-submit { background: #439adf; border: 0 none; font-size: 14px; height: 24px; width: 70px; font-family: 'Roboto-Medium'; cursor: pointer; border-radius: 2px; color: #37424a; }
button.search-submit:hover { background: #fff; }

/*== Logo Section ==*/

.logo{float: left; width: 115px; background-image: url(../images/logo-bg.png); background-repeat: no-repeat; background-position: center top; margin-top: -47px; padding: 15px 24px;}
.lower-header{position: relative;background: #ffffff;}

/*== Navigation Section ==*/

.navigation{ padding: 33px 0; padding-right: 40px; max-width: 670px; float: right;}
.navigation ul li{display: inline-block; margin: 0 12px;}
.navigation ul li:first-child{margin-left:0;}
.navigation ul li a{border: 1px solid transparent; color: #005293; display: inline-block; font-family: "Roboto-Light"; font-size: 18px; line-height: 14px; padding: 10px 22px; text-decoration: none;}
.navigation ul li a.active{border: 1px solid #439adf; color: #439adf;}
.navigation ul li a:hover{color: #439adf;}
.menu-icon {text-align: center; color: #439adf; cursor: pointer; font-size: 17px;  height: 31px; line-height: 26px; margin: 0 0 0 15px;  position: absolute; right: 10px; top: 57px; width: 91px; border: 1px solid #439adf; }
.navigation ul .menu-icon{ display:none; background: url(../images/down-arrow.png) no-repeat; width: 21px; height: 21px; position: absolute; font-size: 0; text-indent: -9999px; right: 5px; top: 3px; padding: 0; margin: 0;}
.navigation .current-menu-item a { color: #439adf;}

/*== Social Section ==*/

.social {
    float: right;
    margin-top: 38px;
    font-size: 0;
}

.social li {
    display: inline-block;
    margin: 0 4px;
    font-size: 14px;
    text-align: center;
}

.social a {
    display: block;
    margin: 0;
    width: 25px;
    color: #ffffff;
    background: #439adf;
    transition: opacity 400ms ease;
}

.social a:hover {
    opacity: 0.7;
}

/* .social {float: right; margin-top: 38px; width: 92px;}
.icon2{background-position:-36px 0px;}
.icon3{background-position:-74px 0px;}
.social  a{background-image: url(../images/social.png); background-repeat: no-repeat; width: 27px; height: 27px; vertical-align: top; display:inline-block;  transition: all 500ms ease 0s;}
.social  a:hover{opacity: 0.7;}
.social li {display: inline-block; margin: 0 1px 0 0;} */

/*== banner Section ==*/

.banner-inner{background-image: url(../images/banner.jpg); background-repeat: no-repeat; background-size: 100%; height: 679px; text-align: center; color: #fff;}
.banner h1{ font-size: 50px; font-family: 'TrajanProBold_0'; font-weight: normal; padding: 175px 0 0; line-height: 50px;}
.banner h2{font-weight: normal; font-size: 36px; font-family: 'Roboto-Thin'; line-height: 57px;}

/*== one third Section ==*/
/*.one-third-outer{margin-top: -36px;}*/

.one-third{width: 375px; float: left; box-sizing:border-box; text-align: center; padding:0 20px; color: #46555F; font-size: 18px; font-family: 'Roboto-Light'; border-right:1px solid #edf0f2; padding-bottom:30px;}
.one-third:first-child{padding-left:0;}
.one-third:last-child{border:none;}
.one-third h3{font-size: 24px; font-family: 'TrajanProBold_0';  color:#005293; margin-bottom:5px; font-weight:normal;}
.one-third h3 a{color: #005293;text-decoration: none;}
.one-third h3 a:hover{color:#439adf;}
.one-third p{margin-bottom:15px;}
.one-third .icon{margin-bottom:5px;  margin-top: -42px;}

/*== blue Section ==*/

.experiance{background: url(../images/expertise-bg.jpg) repeat-x #065695; color: #fff; text-align: center; padding:200px 0 170px}
.expriance-inner{margin:0 auto; font-size: 18px; font-family: 'Roboto-Light';}
.experiance h2{font-size: 50px; font-family: 'TrajanProBold_0'; line-height: 50px; font-weight:normal; color:#fff;}
.experiance h3{font-family: "Roboto-Thin"; font-size: 36px; font-weight: normal; line-height: 36px; padding-bottom: 35px; padding-top: 15px; color:#fff;}
.experiance p{ line-height: 30px;}

/*== one-half Section ==*/

.experiance .one-half{width: 40%;float: left;padding: 7% 4%;margin: 0 2% 4% 0;background: #ffffff;min-height: 120px;transition: all 200ms ease 0s;box-shadow: 0;transition: box-shadow .5s;}
.experiance .one-half:hover{box-shadow: 0px 10px 0px 0px rgba(9,59,99,1);}
.experiance .one-half h4{font-size: 24px; font-family: 'TrajanPro-Regular'; color:#005293; font-weight:normal; line-height: 25px; margin-bottom:10px;}
.experiance .one-half .left-icon{width:108px; text-align:center; margin: 0 auto 20px;min-height: 62px;}
.experiance .one-half .swap { float: right;}
.experiance .one-half .text{text-align:center; font-size:18px;  font-family: 'Roboto-Regular';}
.experiance .one-half .text p{font-family: 'Roboto-Light'; font-size: 14px; line-height: 30px;  color: #46555F;min-height: 120px;}
.experiance .one-half .text a.blue-bttn {border: none;}
.experiance .one-half .right-text{text-align:right;}
.swap1{float:left;}
.swap2{float:right;}
.inner-wrapper{max-width:972px; margin:0 auto;}
.expriance-inner .row{width: 770px;margin: 50px auto 0;float: none;max-width: 100%;}
.swap2.one-half .text{padding-right:4%;}
.white-bttn{display:inline-block; background: #fff; padding:10px 30px; color:#014b87; font-size:24px; line-height:28px;  font-family: 'Roboto-Light'; border-radius:5px; text-decoration: none;  transition: all 500ms ease 0s;}
.white-bttn.small{font-size:21px; line-height: 21px; padding:10px 20px;}
.expriance-inner a.white-bttn{margin-top:30px;}
.white-bttn:hover{background: #56b3fd;}
.one-half.swap2{float:right;margin: 0 0 4% 2%;}
.one-half.swap2 .text.right-text{text-align: left;}

/*== Clients Section ==*/

.clients-section{float:left; width:100%; background: #fff; text-align: center; padding:130px 0 180px;}
.clients-section h2{color:#343e46; font-size:32px; font-family: 'TrajanPro-Regular'; font-weight:normal; background: url(../images/arrow.png) no-repeat top center; padding-top:65px;}
.clients-section ul{float:left; width:100%; padding-left:0; margin-top:25px; margin-bottom:0;}
.clients-section ul li{display:inline-block; list-style: none; margin:0 10px;}
.clients-section ul li:first-child{margin-left:0;}
.clients-section ul li:last-child{margin-right:0;}
.bottom-section{float:left; width:100%;}
.bottom-section .col{float:left; width:30%; max-height: 266px; position: relative; overflow: hidden; min-height: 266px;}
.bottom-section .col:nth-child(2){overflow: visible;}
.bottom-section .col.big{width:40%;}
.bottom-section .col .img-container { height: 266px; width: 100%; position: relative; overflow: hidden;}
.bottom-section .col .img-container img { position: absolute; z-index: 1; min-height: 100%; width: 100%; bottom: 0;}
.bottom-section .col .img-container img.active { z-index: 3;; }
.how_can_help{position: absolute; top:0; left:0; width:100%; display:block; background: #439adf; color:#fff; height:333px; text-align: center; margin-top:-65px; z-index:4;}
.how_can_help_inner{padding: 124px 0;}
.how_can_help_inner h3{font-size:38px; font-family: 'TrajanPro-Regular'; padding-bottom:20px; font-weight:normal;line-height: 34px;}
.slick-slider {margin: 40px 0 0;}
.slick-slider .slick-prev:before, .slick-slider .slick-next:before {color: #439adf;}
.slick-slider .slick-next {right: -65px;}
.slick-slider .slick-prev {left: -65px;}
.slick-slider .slick-slide img {margin: 0 auto;}


/*== Footer ==*/

footer#footer{float:left; width:100%; background: url(../images/footer-bg.jpg) repeat; color:#439adf; font-size:14px; font-family: 'Roboto-Light'; padding:40px 0 100px;}
footer#footer .col{float:left; width:20%; margin-left:2%;}
footer#footer .col.last{float:right; text-align: right;}
footer#footer .col.last p a {color: #429be1;}
footer#footer .col h3{color:#fff; font-size:18px; font-family: 'TrajanPro-Regular'; font-weight:normal; margin-bottom:5px;}
footer#footer .col ul{padding:0;}
footer#footer .col ul li{line-height: 19px}
footer#footer .col ul li a{color:#439adf; text-decoration: none; padding-bottom:5px; display:inline-block;}
footer#footer .col ul li a:hover{color:#add9fc;}
.copyright{float:left; width:100%; color:#fff; text-align: center; margin-top:30px;}
.copyright a{color:#fff; text-decoration: none;}
.copyright a:hover{text-decoration: underline;}
.associations {clear: both;clear: both;padding: 40px 0 0;text-align: center;}
#scroll:before{
    background-image: url(../images/scroll-up.png);
    height: 64px;
    width: 64px;
    content: "";
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 10;
    cursor: pointer;
    -webkit-transform: translateZ(0);
}

#scroll:hover:before{
    background-image: url(../images/scroll-up-hover.png);
}
/*== Base
========================*/
#main {padding-top: 158px;}

/*== About Us Page
========================*/
.tl-timenav .tl-attribution {display: none;}
.about-nav-container { position: fixed; width: 100%; background: #fff;border-bottom: 1px solid #F1F1F1;margin-top: -2px;z-index: 110;}
.about-row-nav {text-align: center;margin-bottom: 10px;b}
.about-row-nav .blue-bttn {margin-bottom: 5px;border: none;}

/*== History Section ==*/
.about-banner {float: left;width: 100%;background: #065695 url("../images/expertise-bg.jpg") repeat-x !important;text-align: center;padding: 165px 0;color: #fff;}
.about-banner p {color: #96cefb;font-family: "Roboto-Light";font-size: 18px;line-height: 29px;padding-top: 8px;}
.about-banner img {max-width: 100%; height: auto !important;}

/*== Timeline Section ==*/
.about-timeline{text-align: center; background-color: #f6f6f6; float:left; width:100%}
.cd-container{max-width:972px !important;}
.cd-timeline-content{padding:15px !important;}
#cd-timeline .timeline-width30{width:40%;}
.cd-timeline-content h2{display:inline-block; width:100%; font-size:24px !important; color:#005293 !important;  font-family: 'TrajanProBold_0'; font-weight:normal; margin-top:12px}
.timeline-date{display:none;}
.cd-timeline-content p{color:#46555F; font-size:14px !important; font-family: 'Roboto-Light' !important; margin:0 !important;}
span.the-excerpt{margin:0 !important;}
a.cd-read-more{display:none !important}
.cd-timeline-content .cd-date{color:#37424a !important; font-size:14px !important; font-family: 'Roboto-Regular' ;	}
/*== Construction Section ==*/
.construction{padding: 125px 0;}
.construction h2 { font-size: 50px; font-family: 'TrajanProBold_0'; line-height: 60px; text-align: center; font-weight:normal;}
.construction p { font-size: 36px; font-family: 'Roboto-Thin'; line-height: 55px; text-align: center; margin: 0 0 130px;}
.construction .one-half{width: 500px; float: left; border:0px; margin: 0 2.5% 80px 2.5%;}
.construction .one-half h3{font-weight: normal; font-size: 24px; font-family: 'TrajanProBold_0'; line-height: 30px;}
.construction .one-half p { font-family: "Roboto-Light"; font-size: 18px;  line-height: 25px; margin: 15px 0 0; text-align: left;  }
.construction .one-half:hover{background-color: transparent; }
.tl-slidenav-next .tl-slidenav-icon{
    margin-left: 50px !important;
}
.tl-slidenav-next .tl-slidenav-icon:hover{
    margin-left: 55px !important;
}
.tl-slidenav-next .tl-slidenav-icon:before{
    font-size: 2em;
}
.tl-slidenav-previous .tl-slidenav-icon:before{
    font-size: 2em;
}
/*== Our Team Section ==*/
.our-team {clear: both; padding: 0 0 112px;}
.our-team .team-title{background-image: url(../images/const-bg.jpg); background-repeat: repeat; padding: 105px 0;margin-bottom: 105px;}
.our-team .team-title h4 {color: #ffffff; font-size: 50px; line-height: 60px; text-align: center; font-family: 'TrajanProBold_0'; font-weight:normal;}
.our-team .team-title p { font-size: 36px; font-family: 'Roboto-Thin'; line-height: 55px; text-align: center; margin: 0; color: #ffffff;}
.our-team p { font-size: 36px; font-family: 'Roboto-Thin'; line-height: 55px; text-align: center; margin: 0 0 105px; color: #343e46;}
.our-team .one-fourth { display: inline-block; margin: 0 6px 57px 6px; position: relative; overflow: hidden; width: 23.4%;}
.our-team .one-fourth:last-child .team-detail {top: 80%;}
.our-team .one-fourth:hover .team-detail { top: 0%; padding-top: 100px;}
.our-team .one-fourth h5 {font-weight: normal; font-size: 18px; font-family: 'TrajanProBold_0';}
.our-team .one-fourth span{font-weight: normal; font-size: 18px; font-family: 'Roboto-LightItalic'; display:block; color:#439adf;}
.our-team .team-pic{overflow: hidden;}
.team-detail { -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; background-color: #005293; top: 75%; color: #fff; left: 0; padding: 18px 4% 0px; position: absolute; text-align: center; width: 92%; overflow:hidden;}
.team-detail  p { color: #439adf; font-size: 14px; line-height: 20px; margin: 34px 0 32px; font-family: 'Roboto-Light';}
.team-detail a { display: block; margin-bottom: 52px;}


/*====== Contact Page ======*/

.contactsection{float:left; width:100%; background: url(../images/contact-bg.jpg) no-repeat; background-size:cover; padding:80px 0 100px; text-align: center; position: relative;}
#contact-form {width: 50%;float: left;}
#contact-form h1.common-heading {text-align: left;font-size: 38px;max-width: 407px;margin: 0 auto;}
#contact-form h2.common-subheading {text-align: left;max-width: 407px;margin: 0 auto;font-size: 24px;}
h1.common-heading{ font-family: 'TrajanProBold_0'; font-size: 50px; font-weight: normal; line-height: 50px; letter-spacing: .05em; color:#fff;}
h1.common-heading.black, h2.common-subheading.black{color:#323c43;}
h2.common-subheading{ font-family: "Roboto-Thin"; font-size: 36px; font-weight: normal; line-height: 57px; color:#fff;}
.contact-form{width:407px; margin:0 auto; margin-top:40px}
.contact-form input[type="text"]{float:left; width:100%; border:1px solid #9ea3a7; background: #fff; padding:2%; box-sizing: border-box; min-height: 30px; font-size:24px; color:#7b8790; font-family: "Roboto-Thin"; margin-bottom:12px; max-height: 50px;}
.contact-form input[type="email"]{float:left; width:100%; border:1px solid #9ea3a7; background: #fff; padding:2%; box-sizing: border-box; min-height: 30px; font-size:24px; color:#7b8790; font-family: "Roboto-Thin"; margin-bottom:12px; max-height: 50px;}
.contact-form textarea{float:left; width:100%; border:1px solid #9ea3a7; background: #fff; padding:2%; box-sizing: border-box; max-height: 170px; font-size:24px; color:#46555F; font-family: "Roboto-Thin"; margin-bottom:12px;}
.contact-form input[type="submit"]{background: #439adf; border-radius:5px; color:#fff; width:100%; border:none; font-size:24px; font-family: "Roboto-Thin"; height:100px; line-height: 100px; cursor: pointer;}
.contact-form input[type="submit"]:hover{background: #56b3fd;}
.contact-form input[type="text"]:focus{color:#439adf; border:1px solid #9ecbef; background: url(../images/input-bg.jpg) repeat-x center center; background-size:auto 100% }
.contact-form input[type="email"]:focus{color:#439adf; border:1px solid #9ecbef; background: url(../images/input-bg.jpg) repeat-x center center; background-size:auto 100% }
div.wpcf7-mail-sent-ok, div.wpcf7-validation-errors {width: 385px;border: 1px solid #9ea3a7;background: #fff;padding: 10px;margin: 0 auto;}
span.wpcf7-not-valid-tip {color: #ffffff;}
#contact-us {float: left;width: 50%;}
#contact-us .contact-information {margin-top: 40px;background: #ffffff;padding: 50px;text-align: left;}
#contact-us h3{font-family: 'TrajanProBold_0';font-size: 38px;font-weight: normal;line-height: 50px;letter-spacing: .05em;color: #fff;text-align: left;}
#contact-us h4{font-family: "Roboto-Thin";font-size: 24px;font-weight: normal;line-height: 57px;color: #fff;text-align: left;}
#contact-us h5 {font-family: 'TrajanProBold_0';color:#005293;font-size: 22px;margin: 25px 0 4px;}
#contact-us h5:first-child {margin-top: 0;}
#contact-us p {color: #7b8790; font-size: 17px;line-height: 28px;}
.blue-bttn{background: #439adf none repeat scroll 0 0; border: 1px solid #b4d7f2; border-radius: 3px; color: #fff; font-size: 18px; padding: 8px 30px; text-decoration: none; display:inline-block;}
.blue-bttn:hover{background: #56b3fd;}
.apply-today .blue-bttn{margin-left: 25px; font-family: 'Roboto-Light';}
.apply-today br{display:none;}
.apply-today{float:left; width:100%; padding:45px 0; text-align: center; color:#323c43; font-size:24px; font-family: "Roboto-Light";}

/*====== Default Page ======*/
.page_content{float:left; width:100%; padding:20px 0; color:#46555F; font-size:18px; font-family: "Roboto-Regular";}
.page_content p { display: inline-block; font-family: "Roboto-Light"; line-height: 28px; margin-bottom: 30px;}
.page_content h2 a { color: #323c43; font-family: "TrajanProBold_0"; font-size: 36px; font-weight: normal; line-height: 35px; margin-bottom: 18px; text-decoration: none; float:left;  width:100%;}
.page_content article img { padding: 20px 0px;}
.page_content a { color: #005293; text-decoration: none;}
.page_content a:hover { color: #439adf; text-decoration: none;}

.page_content .comments p { float: left; width: 100%;}
.page_content  p.comment-form-comment label { float: left; width: 100%;}

/*====== Services Page ======*/

.services-nav-container { position: fixed; width: 100%; background: #fff;border-bottom: 1px solid #F1F1F1;margin-top: -2px;z-index: 110;}
.services-banner {float: left;width: 100%;background: #065695 url("../images/expertise-bg.jpg") repeat-x !important;text-align: center;padding: 165px 0;color: #fff;}
.services-banner p, .blog-archive-banner p{ color: #96cefb; font-family: "Roboto-Light"; font-size: 18px; line-height: 29px; padding-top: 8px;}
.services-row-nav {text-align: center;margin-bottom: 10px;b}
.services-row-nav .blue-bttn {margin-bottom: 5px;border: none;}
.services_content{float:left; width:100%; padding:105px 0 175px; color:#46555F; font-size:18px; font-family: "Roboto-Regular";}
.services_content_row{float:left; width:100%; padding:0 120px; box-sizing: border-box; margin-bottom:140px; background-position: left 20px !important;}
.services_content_row:last-child{margin-bottom:0;}
.services_content_row h4{color: #323c43; font-family: "TrajanProBold_0"; font-size: 36px; font-weight: normal; line-height: 35px; margin-bottom: 18px;}
.services_content_row label{ color: #323c43; display: inline-block; font-family: "Roboto-Light"; font-size: 24px; margin-bottom: 22px;}
.services_content_row p{display: inline-block; font-family: "Roboto-Light"; line-height: 28px; margin-bottom: 30px;}
.services_content_row.right{text-align: right; background-position:right 20px !important;}
.services_content_row.right ul{
    float: right;
    text-align: left;
}
.workfor .slick-slider {margin-bottom: 0;}
.cycle-slideshow {width: 840px;margin: 80px auto 140px;max-width: 100%;background: #ffffff;position: relative;}
.cycle-slideshow:after {content: " ";display: block;width: 0;height: 0;right: 0;position: absolute;border-style: solid;border-width: 0 30px 30px 0;border-color: transparent #ffffff transparent transparent;line-height: 0px;_border-color: #000000 #ffffff #000000 #000000;_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');}
.testimonial_slide {width: 100%;}
.testimonial_slide:after {width: 0;height: 0;border-style: solid;border-width: 0 30px 30px 0;border-color: transparent #ffffff transparent transparent;line-height: 0px;_border-color: #000000 #ffffff #000000 #000000;_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');}
.easy_testimonial {padding: 30px;}
p.testimonial_author {color: #000000;margin-bottom: 15px;}
p.testimonial_author span {display: block;}
p.testimonial_author span.testimonial-client {font-style: normal;font-family: 'TrajanProBold_0';font-size: 18px;}
p.testimonial_author span.testimonial-position {font-style: normal;font-size: 18px;}
.testimonial_body p {color: #46555F;font-style: italic;font-size: 16px;position: relative;display: inline;}
.testimonial_body p:before {display: block;content: "\201C";font-size: 20px;position: absolute;left: -10px;top: -2px;color: #7a7a7a;}
.testimonial_body p:after {display: block;content: "\201D";font-size: 20px;position: absolute;right: -7px;bottom: -2px;color: #7a7a7a;}
.easy-t-cycle-controls {position: absolute;width: 100%;padding: 70px 0 0;}
.easy-t-cycle-controls span {display: inline-block;width: 9px;height: 9px;text-indent: -999em;border-radius: 10px;-moz-border-radius: 10px;-webkit-border-radius: 10px;box-shadow: 0 0 0px 2px #ffffff;margin-right: 10px;cursor: pointer;}
.easy-t-cycle-controls span.cycle-pager-active {background: #fff;}

/* Work For */

.workfor{float:left; width:100%; background: url(../images/wordfor.jpg) no-repeat; background-size:cover; color:#fff; text-align: center; padding-top:135px;}
.client-sec{float:left; width:100%; padding:5%; box-sizing: border-box; background: #fff; margin-top:110px; background: url(../images/client-bg.jpg) repeat-x;}
.client-sec ul{width:100%; text-align: center; padding-left:0; margin-top:0; margin-bottom:40px}
.client-sec ul li{display:inline-block; color:#46555F; font-size:22px; font-family: 'TrajanPro-Regular'; list-style: none; background: url(../images/small-arrow.png) no-repeat left center; padding:0 12px; line-height: 35px;}
.client-sec a{margin-bottom:50px; display:inline-block;}

.why-wcci{float:left; width:100%; text-align: center; padding:125px 0;}
.why-wcci .reasons{float:left; width:100%; padding:0 100px; box-sizing: border-box; margin-top:80px;}
.why-wcci .reasons ul{ padding-right:30px; float:left; width:48%; box-sizing: border-box; padding-left:0;}
.why-wcci .reasons ul:last-child{padding-right:0; float:right; padding:0;}
.why-wcci .reasons ul li{float:left; width:100%; list-style: none; text-align: left; margin-bottom:35px;}
.why-wcci .reasons ul li:last-child{margin-bottom:0;}
.why-wcci .reasons ul li .rea-left{float:left; width:13%; color:#46555F; font-size:46px; font-family: 'Roboto-Black'; line-height: 43px; text-align: center;}
.why-wcci .reasons ul li .rea-right{float:right; width:85%; font-size:18px; color:#46555F; font-family: 'Roboto-Light';}
.why-wcci .reasons ul li .rea-right h4{font-size:24px; color:#323c43; display:inline-block; padding-bottom:5px; font-family: 'TrajanProBold_0'; font-weight:normal; line-height: 30px;}
.client-sec br { display: none;}

.dropdown{width:200px; margin:0 auto; margin-top:22px; position: relative;}
.dropdown-top{width:100%; float:left; background: #439adf; color:#fff; border:1px solid #2b7ab7; border-radius:5px;}
.dropdown-top span{padding:8px 18px; font-size:18px; font-family: 'Roboto-Light'; float:left;}
.dropdown-top label{float: right; height: 41px; width: 37px;background: url(../images/dropdown-div.png) no-repeat left center, url(../images/dropdown-arrow.png) no-repeat center center; cursor: pointer;}
.dropdown-top label.active{background: #2f8bd5 url(../images/dropdown-arrow.png) no-repeat center center;}
.dropdown ul.filter-nav{float:left; width:100%; background: #fff; border-radius:2px; box-sizing: border-box; padding:0 0; margin:0; height:0; position: absolute; left:2px; top:47px; z-index: 999;  transition: all 200ms ease 0s;}
.dropdown ul.filter-nav.open{; visibility: visible; height:auto; padding:10px 0;}
.dropdown ul.filter-nav.open a{font-size:18px;}
.dropdown ul li a{color:#005293; font-size:0; font-family: 'Roboto-Thin'; text-decoration: none; width:100%; display:inline-block; padding:2px 5px; box-sizing: border-box;   cursor: pointer;}
.dropdown ul li{list-style: none;}
.maingallery{float:left; width:100%}
.maingallery ul{float:left; padding:0; margin-top: 0; margin-bottom:0; width: 100%; background: #f3f3f3;}
.maingallery ul li{list-style: none; float:left; width:auto; position: relative; cursor: pointer; display:none;width: 20%; /*opacity:0;*/}
.maingallery ul li img{float:left; width:100%}
.filter-content{position: absolute; left:0; top:0; height:280px; display: table; background: rgba(8, 88, 150, .7); color:#fff; font-size:14px; font-family: 'Roboto-Regular'; color:#fff; padding:0 30px; box-sizing: border-box; visibility: hidden;  transition: all 500ms ease 0s; width:100%;}
.filter-content-inner{height:100%; display:table-cell; vertical-align: middle; text-align: center;}
.filter-content b{font-size:18px; display:inline-block; width:100%; font-family: 'Roboto-Medium'; margin-bottom:10px}
.filter-content label{display:inline-block; width:100%; font-size:18px; font-family: 'Roboto-Light';}
.filter-content label p{display:inline-block; width:100%; font-size:18px; font-family: 'Roboto-Light'; padding-top:0px;}
.filter-content p{color:#fff; font-size:14px; line-height: 23px; font-family: 'Roboto-Light';}
.maingallery ul li:hover .filter-content{visibility: visible;}
.apply-today.project{color:#005496; font-family: 'Roboto-Thin';}
.pagination { width: 100%; float: left;}

ul.page-numbers {
    display: block;
    padding: 40px;
    font-size: 0;
    text-align: center;
}

ul.page-numbers li {
    display: inline-block;
    font-size: 18px;
    border: 2px solid #e3eaee;
    border-left-width: 0;
}
ul.page-numbers li:first-child {
    border-left-width: 2px;
}

ul.page-numbers li > * {
    display: block;
    padding: 10px 14px;
}

ul.page-numbers li > span {
    cursor: default;
}

ul.page-numbers li .current {
    background: #eef3f6;
    box-shadow: inset 0 0 0 2px #ffffff;
}

ul.page-numbers li a {
    color: #46555F;
    transition: ease-in-out 200ms;
    transition-property: background, color;
}

ul.page-numbers li a:hover {
    background: #e3eaee;
    color: #343f45;
}


.maingallery ul li{ overflow:hidden;}
.page_content article { float: left; width: 100%; padding: 20px 0px;}
ul.op11 { padding-right: 0!important; float: right !important; padding: 0!important;}
{color:#429be1;}
.copyright  p { font-family: roboto-light; font-size: 14px;}

/* Search Page */
.page_search h2 {margin-bottom: 20px;}
.page_search.page_content article {
    margin-bottom: 20px;
}
.page_search.page_content h2 a {
    float: none;
}
.page_search article p:last-child {
    margin-bottom: 0;
}
.page_search .post-edit-link {
	display: block;
}

/* Projects Lightbox */
#outerImageContainer { max-width: 80%; height: auto!important;}
#outerImageContainer img { width: 100%!important; height: auto!important;}
#imageDataContainer { max-width: 80%; z-index: 999; position: relative;}


/*Blog*/
.blog-archive-banner {
    width: 100%;
    background: #065695 url(../images/expertise-bg.jpg) repeat-x !important;
    text-align: center;
    padding: 50px 0;
    color: #fff;
}
.blog-archive {
    padding: 50px 15px;
}
.blog-archive-wrap {
    text-align: center;
}
.blog-item {
    max-width: 385px;
    display: inline-block;
    vertical-align: top;
    padding: 15px;
    float: none;
    text-align: left;
    width: 33%;
    box-sizing: border-box;
}

.blog-item:nth-of-type(4), 
.blog-item:nth-of-type(5), 
.blog-item:nth-of-type(6) {
    margin-top: 30px;
}

a.blog-item-img {
    display: block;
    position: relative;
    padding-bottom: 60%;
    overflow: hidden;
}

a.blog-item-img img {
    max-width: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.blog-item-title, 
.blog-item-title a {
    color: #323c43;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Roboto',sans-serif;

    margin-top: 10px;
}

.blog-item-date {
    color: #439adf;
    margin-top: 10px;
}

.blog-item-excerpt {
    margin: 15px 0;
}

a.post-edit-link {
    margin: 10px;
    text-decoration: none;
    color: #005293;
    display: inline-block;
}

a.post-edit-link:hover {
    text-decoration: underline;
}

.blog-pagination .prev {
    position: relative;
    padding-left: 25px;
}

.blog-pagination .prev:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 18px;
    height: 18px;
    transform: translateY(-50%);
    background: url(../images/left-arrow1.png) no-repeat center / cover transparent;
}
.blog-pagination .prev:hover:before {
        background: url('../images/left-arrow1-dark.png') no-repeat center / cover transparent;
}
.blog-pagination .next {
    position: relative;
    padding-right: 25px;
}

.blog-pagination .next:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 18px;
    height: 18px;
    transform: translateY(-50%);
    background: url('../images/right-arrow1.png') no-repeat center / cover transparent;
}

.blog-pagination .next:hover:before {
        background: url('../images/right-arrow1-dark.png') no-repeat center / cover transparent;
}


.blog-pagination ul.page-numbers li {
    border: none;
}

.blog-pagination ul.page-numbers li a {
    color: #439adf;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.blog-pagination ul.page-numbers li a:hover {
    background: none;
    color: #2a5996;
}

ul.page-numbers li .current {
    background: none;
    box-shadow: none;
    color: #2a5996;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

/*Blog Post*/
.page_content.blog-single-post {
    padding-top: 50px;
    padding-bottom: 50px;
}
.page_content.blog-single-post article {
    padding: 15px;
    box-sizing: border-box;
}
.border-holder {
    border-bottom: 2px solid #439adf;
    padding-bottom: 30px;
}
.blog-single-post .wp-post-image {
    float: right;
    padding: 0;
    max-width: 450px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.blog-single-post p {
    display: block;
}

.blog-single-post .blue {
    color: #439adf;
    font-size: 45px;
    line-height: 45px;
}

.blog-single-post h1, 
.blog-single-post h2 {
    margin-bottom: 30px;
}

.blog-single-post li {
    font-family: 'Roboto-Light';
    margin-bottom: 30px;
}

div#relatedposts {
    text-align: center;
    padding-bottom: 50px;
}

h3.related-heading {
    font-family: 'TrajanProBold_0';
    font-size: 45px;
    font-weight: normal;
    line-height: 45px;
    letter-spacing: .05em;
    color: #439adf;
    padding: 0 15px;
    text-align: left;
    margin-bottom: 30px;
}

.blog-share {
    margin: 40px 0 15px;
}


span.blog-share-title {
    color: #439adf;
}

.blog-share a {
    display: inline-block;
    margin: 0;
    width: 25px;
    color: #ffffff;
    background: #439adf;
    transition: opacity 400ms ease;
    text-align: center;
    font-size: 14px;
}

.blog-share a:hover {
    opacity: 0.7;
    color: #ffffff;
}

@media screen and (max-width: 991px) {
    .blog-single-post .blue,
    h3.related-heading {
        font-size: 30px;
        line-height: 40px;
    }
}
@media screen and (max-width: 767px) {
    h3.related-heading {
        text-align: center;
    }
    .blog-single-post .wp-post-image {
        float: none;
        margin: 0;
    }

    .blog-item { 
        width: 100%;
    }
}
@media screen and (max-width: 480px) {
    .blog-item { 
        max-width: 300px;
    }
}

