/*== Font Face CSS
========================*/

/*project*/
.maingallery .filter-content { display: inline-block; height: 100%;text-align: center;}
.maingallery .filter-content-inner { display: inline-block; vertical-align: middle; height: auto;}
.maingallery .filter-content:before { content: "";  display: inline-block;  vertical-align: middle;  margin-left: -0.3em;  height: 100%; width: 0px;}

/*contact us*/
.contact-form textarea { background: #fff url("../images/right-textarea.png") no-repeat right bottom;}
.contactsection { background-position: center center;}
.apply-today .textwidget { font-family: "Roboto-Thin"; font-size: 32px; line-height: 36px;}

/*about page*/
.our-team .one-fourth:hover .team-detail { height: 100%;}
.our-team .one-fourth h5 { text-transform: uppercase;}
.timeline-date { display: block !important;}
.about-timeline { background: url("../images/gry-bg.jpg") repeat;}
.filter-content { transition: all 0ms ease 0s; -webkit-transition: all 0ms ease 0s;}
.experiance, .workfor { background-attachment: fixed;}
.services_content_row .blue-bttn {padding: 8px 45px;}
.workfor { background: transparent url("../images/who_we_work_for.jpg") no-repeat scroll 0% 0% / cover; position: relative;}  

/*for timeline*/
/*#cd-timeline:before { left: 0px !important; right: 0px; margin: 0px auto !important; top: 167px !important;}
.cd-timeline-block { position: relative !important; margin: 2em auto !important; top:0 !important; }
#cd-timeline { margin-bottom: 0 !important; overflow: hidden;}
.cd-timeline-content .timeline-date{ position: absolute; top: 50%; right: 0px; margin: 0px -45% 0px 0px; font-family: "Roboto-Regular";}
.cd-timeline-content .timeline-date::before { content: ""; display: inline-block; width: 10px; height: 10px; background: #439ADD none repeat scroll 0% 0%;border-radius: 50%; position: absolute; margin-left: -46px;  border: 2px solid #FFF; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5) inset; margin-top: 6px;}
.cd-timeline-icon-link { display: none;}
.cd-timeline-block:nth-child(2n) .cd-timeline-content .timeline-date  {right:auto; left: 0; margin: 0px 0 0px -45%}
.cd-timeline-block:nth-child(2n) .cd-timeline-content .timeline-date:before { margin-left: 0; margin-right: -47px; left:auto; right:0 }*/
/**/

/*background photo credits*/
#photo-credits { width: 100%; bottom: 0; left: 0; opacity: 1; position: absolute; z-index: 3; }
#shortcredit { margin: 0; padding: 13px 15px 1px; text-align: left; }
#shortcredit p { margin: 0; color: rgba(255,255,255,.50); line-height: 1.25em; transition: all .2s ease-out; }
#shortcredit:hover p { color: rgba(255,255,255,.85); }
.bg-img-title { font-size: 16px; -webkit-transition-delay: .2s; -moz-transition-delay: .2s; -o-transition-delay: .2s; transition-delay: .2s; }
#shortcredit:hover .bg-img-title { -ms-transform: translateY(-.7em); -webkit-transform: translateY(-.7em); -moz-transform: translateY(-.7em); transform: translateY(-.7em); -webkit-transition-delay: 0s; -moz-transition-delay: 0s; -o-transition-delay: 0s; transition-delay: 0s; }
.bg-img-cred { position: relative; top: -19px; font-size: 13px; opacity: 0; -webkit-transition-delay: 0s; -moz-transition-delay: 0s; -o-transition-delay: 0s; transition-delay: 0s; }
#shortcredit:hover .bg-img-cred { opacity: 1; -ms-transform: translateY(.55em); -webkit-transform: translateY(.55em); -moz-transform: translateY(.55em); transform: translateY(.55em); -webkit-transition-delay: .2s; -moz-transition-delay: .2s; -o-transition-delay: .2s; transition-delay: .2s; }
	
@media screen and ( min-width: 1365px) {
	
.services-banner.project { padding: 0;}
.services-banner.project .container { /*max-width: none;*/ display: inline-block; width: 100%; padding: 165px 0}	
/*.banner-inner { background-size: cover !important;}*/
h2.common-subheading { font-size: 35px;}
#contact-form h2.common-subheading {font-size: 24px;}
	
}