.cd-timeline-img.initial {
  top: 0%;
  margin-top: 0px;
  margin-left: 14px;
  left: 0%;
}

.cd-timeline-img.terminal {
  top: 100%;
  margin-top: 0px;
  margin-left: 14px;
  left: 0%;
}

@media only screen and (min-width: 1170px) {

  .cd-timeline-img.initial {
    top: 0%;
    margin-top: 0px;
    margin-left: -6px!important;
    left: 50%;
  }

  .cd-timeline-img.terminal {
    top: 100%;
    margin-top: -20px;
    margin-left: -6px!important;
    left: 50%;
  }
}